apiVersion: apps/v1
kind: Deployment
metadata:
  name: finance-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: finance-app
  template:
    metadata:
      labels:
        app: finance-app
    spec:
      containers:
      - name: finance-app
        image: harshith1918/finance-app:latest
        ports:
        - containerPort: 3001
        env:
        - name: GEMINI_API_KEY
          valueFrom:
            secretKeyRef:
              name: gemini-secret
              key: GEMINI_API_KEY
---
apiVersion: v1
kind: Service
metadata:
  name: finance-service
spec:
  type: NodePort
  selector:
    app: finance-app
  ports:
  - port: 3001
    targetPort: 3001
    nodePort: 30010
